.city-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    height: 80px;
    border-radius: 16px;
    padding: 10px;
    padding-left: 13px;
    cursor: pointer;
    margin-bottom: 7px;
    position: relative;
    overflow: hidden;
}

.city-card-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.city-card-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.city-card-left .city-card-top {
    font-size: 1.1rem;
    font-weight: bold;
}

.city-card-left .city-card-bottom {
    font-size: 0.7rem;
}

.city-card-right .city-card-top {
    font-size: 2rem;
    font-weight: normal;
}

.del-city-card-btn {

    position: absolute;
    top: 6px;
    right: 8px;
    background: none;
    border: none;
    color: white;
    opacity: 0.6;
    cursor: pointer;
}

.del-city-card-btn:hover {
    opacity: 1;
}

.card-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;
    filter: brightness(0.6);
}